{% extends "base.html" %}

{% block content %}

<h2>Add Patient Record</h2>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>Patient ID</label>
    <input type="number" name="patient_id" required>
    <br><br>

    <label>Age</label>
    <input type="number" name="age" required>
    <br><br>

    <label>Sex</label>
    <select name="sex" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <br><br>

    <label>Resting BP</label>
    <input type="number" name="resting_bp" required>
    <br><br>

    <label>Cholesterol</label>
    <input type="number" name="cholesterol" required>
    <br><br>

    <label>Fasting Blood Sugar</label>
    <select name="fasting_blood_sugar" required>
        <option value="True">True</option>
        <option value="False">False</option>
    </select>
    <br><br>

    <label>Resting ECG</label>
    <input type="text" name="resting_ecg" required>
    <br><br>

    <label>Exercise Induced Angina</label>
    <select name="exercise_induced_angina" required>
        <option value="True">True</option>
        <option value="False">False</option>
    </select>
    <br><br>

    <button type="submit" class="btn btn-success">Add Patient</button>

</form>

{% endblock %}